/* Banner */


.view-front-page-banner .views-slideshow-cycle-main-frame {
margin: auto;
position: relative;
text-align: center;
width: 1347px;
}

.view-front-page-banner .views-slideshow-cycle-main-frame .title {
bottom: 20px;
color: #F9F5F6;
font-size: 55px;
line-height: 1em;
position: absolute;
text-align: center;
text-shadow: 3px 2px 2px #000000;
width: 100%;
}

.view-front-page-banner .views-slideshow-cycle-main-frame .button {
background: url("images/banner-button.jpg") repeat-x scroll 0 0 transparent;
bottom: 100px;
color: white;
font-size: 28px;
padding: 10px 20px;
position: absolute;
margin-left: 300px;
text-decoration: none;
     -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
font-family: "lobster",serif;
font-style: normal;
font-weight: 400;
text-shadow: 1px 0 0 black;
-moz-box-shadow: 2px 2px 5px #1A1919;
-webkit-box-shadow: 2px 2px 5px #1A1919;
box-shadow: 2px 2px 5px #1A1919;    
}

.view-front-page-banner .views-slideshow-cycle-main-frame .button:hover {
-moz-box-shadow:0px 0px 1px black, 3px 1px 21px #DDDDDD;
-webkit-box-shadow: 0px 0px 1px black, 3px 1px 21px #DDDDDD;
box-shadow: 0px 0px 1px black, 3px 1px 21px #DDDDDD;  
}

.view-front-page-banner .views-slideshow-controls-bottom {
clear: both;
margin-bottom: -24px;
margin-top: -31px;
position: relative;
text-align: center;
width: 100%;
z-index: 100;
}

.view-front-page-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
display: inline-block;
}
